.fact-figures {
    padding: 100px 0 100px 0;
    position: relative;
    z-index: -1;
    background-color: #000;

    .sec-heading {
        margin-bottom: 20px;
        
        h2 {
            @include sec-heading;
            color: #fff;
        }
    }

    .inner {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        position: relative;
        z-index: 2;

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(2, 50%);
            row-gap: 20px;

        }

        .fact-figures {
            padding: 20px;
            text-align: left;
            color: #fff;
            /* From https://css.glass */

            a {
                font-size: 32px;
                font-weight: 800;
                color: #fff;

                @include media-breakpoint-down(lg) {
                    font-size: 28px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 24px;
                }

                i {
                    color: $brand-primary;
                    margin-right: 5px;
                }
            }

            .fact-figures-desc {
                font-size: 16px;
                line-height: 22px;
                margin: 0;

                @include media-breakpoint-down(lg) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

    }
}