.Faqs {
    padding: 100px 0;

    .note {
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        margin-top: 20px;

        @include media-breakpoint-down(md) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .sec-heading {
        margin-bottom: 40px;
        position: relative;
        z-index: 3;
        text-align: center;
    
        h2 {
          @include sec-heading;
    
          span {
            color: $brand-primary;
          }
        }
    }

    .accordion {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
      }
      .accordion .accordion-item  {
        border-radius: 15px;
        border: 1px solid #333;
      }
      .accordion .accordion-item:hover .accordion-button.collapsed {
        color: $brand-primary;
      }
      .accordion .accordion-item:hover  {
        border-color: $link-hover; 
      }
      .accordion .accordion-item:has(.show)  {
        border-color: $link-hover; 
      }
      .accordion .accordion-item + .accordion-item {
        margin-top: 20px;
      }
      .accordion .accordion-button.collapsed {
        color: #000;
        font-weight: 600;
      }
      .accordion .accordion-button {
        box-shadow: none;
        background-color: transparent;
        color: $brand-primary;
        font-weight: 600;
      }
      .accordion .accordion-item .accordion-body p {
        font-size: 14px;
        color: #666;
        font-weight: 500;
        margin-bottom: 30px;
      }
}